body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url('../images/Earth Express Background.png');
    background-repeat: repeat;
}


.carousel-item img {
    
        height: 400px;
        width: 10px;
      
} 
p {
    padding: 10px;
}

.footer {
    padding:0;
    margin:10px;
}

.dummycontainer {
    height:100px;
}
/*cards
.card-footer{
    background: transparent;
    border-top: 0px;
} */

.carousel-control-prev-icon { 
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
    width: 30px;
    height: 48px;
}
.carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}