@media screen and (max-width:500px) {
.navbar {
    display: none;
}
}

.carousel-item img {
    
        height: 400px;
        width: 10px;
      
} 
p {
    padding: 10px;
}

.footer {
    padding:0;
    margin:10px;
}

.dummycontainer {
    height:100px;
}